body::-webkit-scrollbar {
    display: none;
}
.accordion{
    width: 50%;
    color: blue;
}
h1{
    margin-bottom: 0;
    margin-top: 0;
}
.accordion:hover h1{
    transition: 1s;
    cursor: pointer;
    color: black;
}
.wrapper{
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.accordion{
    display: block;
}
.accordion-item{
   justify-content: center;
    text-align: center;
}
.accordion-item__input{
    opacity: 0;
}
.accordion-item__trigger{
    transition: 1s;
    display: block;
}
.accordion-item__content{
    display: none;
    border-top: 0;
}
.accordion-item__input:checked ~ .accordion-item__trigger .accordion-item__content {
    display: block;
}
.accordion-item__input:hover ~ .accordion-item__trigger .accordion-item__content {
    display: block;
}
.accordion-item__input:hover ~ .accordion-item__content {
    display: block;
}
.accordion-item__input:checked + .accordion-item__trigger {
    color: black;
}

.accordion-item__content:hover{
 display: block;
}
.accordion-item__content:active